@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-color: #000000ab;
  --secondary-color: #ffffff;
  --dark-black: #0f0f0f;
  --primary-font: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: var(--primary-font);
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.textNone {
  text-decoration: none;
  color: var(--dark-black);
}

/* ------------Header Section---------------- */
.header {
  height: 56px;
  background: var(--secondary-color);
  z-index: 100;
  padding: 0 1rem;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menuLogoSection {
  align-items: center;
  column-gap: 1rem;
  display: flex;
  width: 11rem;
}
.menuSection {
  height: 37px;
  width: 37px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  cursor: pointer;
}
.menuSection:hover {
  background: #0000002e;
}
.logo {
  height: 24px;
  width: 97px;
  cursor: pointer;
}
.searchSection {
  width: 40rem;
  align-items: center;
  column-gap: 10px;
  display: flex;
  height: 40px;
}
.searchBar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #0000002e;
  border-radius: 25px;
  padding: 5px 15px;
  position: relative;
  box-shadow: 0px 0px 2px inset #0000002e;
}
.searchInput {
  height: 100%;
  width: calc(100% - 65px);
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  z-index: 101;
}
.searchBtn {
  height: 100%;
  width: 65px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px 0 0 22px;
  background: #e9e7e7a8;
  border-radius: 0px 20px 20px 0px;
  border-left: 1px solid #0000002e;
  cursor: pointer;
  z-index: 101;
}
.searchBtn img {
  height: 20px;
  width: 20px;
}
.searchIcon {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 15px;
}
.clearBtn {
  position: absolute;
  top: 06px;
  right: 71px;
  cursor: pointer;
  z-index: 101;
}
.searchResultContainer {
  background: var(--secondary-color);
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  padding: 15px 0 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
  z-index: 101;
}
.searchResultItems {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}
.searchResultItems:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.userSection {
  position: relative;
  width: 7rem;
  height: 40px;
}
.userLogin {
  position: absolute;
  right: 0;
  border: 1px solid #0000002e;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userLogin:hover {
  background-color: #0000002e;
}
.userLogin > span {
  margin-right: 5px;
  font-weight: 500;
}
.userLight {
  height: 23px;
  width: 23px;
  margin: 0 5px;
}
.searchBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 100;
  top: 0;
  right: 0;
}
/* -----------SideNav Section--------------- */
.side-drawer {
  transition: width 0s;
  display: block;
  height: 100%;
  background: var(--secondary-color);
  width: 0px;
  position: fixed;
  top: 56px;
  left: 0;
  overflow-x: hidden;
  z-index: 99;
}
.side-drawer.open {
  width: 240px;
  transition: width 0s;
}
.drawerOpen {
  overflow: hidden;
  position: relative;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(40, 44, 62, 0.6);
  z-index: 100;
  top: 0;
  right: 0;
}
.sideNavbar {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}
.side-drawer::-webkit-scrollbar {
  display: none;
}
.categorySection {
  height: 100%;
  border-bottom: 1px solid #0000001a;
  padding: 10px 0px;
}
.categoryHeading {
  font-size: 0.98rem;
  padding: 10px 0 10px 15px;
}
.navItems {
  width: 100%;
  border-radius: 10px;
  align-items: center;
  padding: 7px 0 7px 10px;
  display: flex;
  cursor: pointer;
}
.navItems:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navItemIcon {
  padding-right: 20px;
}
.navItemName {
  font-size: 0.91rem;
  font-weight: 400;
}
#mainBody {
  transition: margin-left 0.5s;
  margin-left: 210px;
}

/* ----------- Video Filters---------------- */
.filtersContainer {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 50px;
  overflow-x: auto;
  position: sticky;
  top: 56px;
  z-index: 99;
  background-color: var(--secondary-color);
}
.filtersContainer::-webkit-scrollbar {
  display: none;
}
input[type="radio"] {
  display: none;
}
.btnLabel {
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  height: 32px;
  padding: 0px 10px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--dark-black);
  font-size: 0.91rem;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btnLabel:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
input[type="radio"]:checked + .btnLabel {
  color: var(--secondary-color);
  background-color: var(--dark-black);
}

/* -----------Video Cards Homepage--------- */
.videoCardContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.videoCardInnerContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.videoCard {
  height: 300px;
  width: 360px;
}
.videoBanner img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.videoBanner {
  position: relative;
}
.videoCardDuration {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--secondary-color);
  margin: 8px;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--dark-black);
  padding: 2px 4px;
  border-radius: 3px;
}
.videoDesc {
  font-size: 14px;
  color: var(--primary-color);
  display: flex;
  margin-top: 8px;
}
.videoTitle {
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
  color: var(--dark-black);
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.channelName {
  margin-top: 2px;
  line-height: 1.2rem;
  color: #606060;
}
.channelIcon {
  margin-right: 10px;
}
.channelIcon img {
  height: 36px;
  width: 36px;
  border-radius: 20px;
}
.videoViews {
  color: #606060;
}
/* -----------Video Page------------------- */
.videoPageContainer {
  width: 1320px;
  padding: 20px 0;
  display: flex;
  margin: 0 auto;
  column-gap: 20px;
  font-family: var(--primary-font);
}
.videoInnerContainer {
  width: 885px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
}
.videoFrame {
  height: 498px;
  width: 885px;
}
.videoDescTitle {
  margin: 15px 0 12px;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.videoDescSection {
  display: flex;
  justify-content: space-between;
}
.videoInnerDesc {
  display: flex;
  column-gap: 30px;
}
.videoDescBtns {
  display: flex;
  column-gap: 10px;
}
.btn {
  color: var(--dark-black);
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.subs {
  color: var(--secondary-color);
  background-color: var(--dark-black);
}
.subs:hover {
  background-color: #272727;
}
.videoBtn {
  display: flex;
  align-items: center;
}
.videoBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.videoChannelTitle {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 240px;
}
.videoChannelSubs {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 500;
}
.channelDefIcon img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 15px;
}
.videoDescriptionBox {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  margin-top: 10px;
  padding: 13px 12px;
}
.infoLine {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  column-gap: 10px;
  margin-bottom: 5px;
}
.readHideBtn {
  color: var(--dark-black);
  font-weight: 600;
  cursor: pointer;
}
.videoFullDesc {
  font-family: var(--primary-font);
  white-space: pre-wrap;
  word-break: break-word;
}
.videoCmntSection {
  margin-top: 20px;
}
.commentDetails {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.sortBtn {
  display: flex;
  align-items: center;
  margin-left: 30px;
  column-gap: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
/* ----------Video Comments--------------- */
.commentsContainer {
  margin: 20px 0;
  width: 100%;
}
.commentBox {
  display: flex;
  column-gap: 10px;
  margin: 15px 0;
  word-break: break-word;
}
.commentTitle {
  font-size: 13px;
  color: var(--dark-black);
  margin-right: 4px;
  margin-bottom: 2px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  line-height: 16px;
}
.commentTime {
  font-size: 12px;
  color: var(--primary-color);
  line-height: 16px;
}
.repliesBtn {
  color: #065fd4;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  font-weight: 500;
  margin-top: 2px;
}
.repliesBtn:hover {
  background-color: #def1ff;
}
.commentLikes {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--primary-color);
  margin: 5px 0;
}
.replyBtn {
  font-size: 12px;
  font-weight: 500;
  margin-left: 13px;
  padding: 0 12px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  border-radius: 16px;
  cursor: pointer;
}
.replyBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
}
/* -----------Sidebar Cards----------------- */
.recommendedSection {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.sideBarCards {
  padding: 5px 0;
  display: flex;
}
.sidebarImg {
  margin-right: 8px;
  height: 94px;
  width: 168px;
  border-radius: 8px;
}
.sidebarDesc {
  width: calc(400px - 156px);
}
.sidebarTitle {
  font-size: 14px;
  color: var(--dark-black);
  margin: 3px 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: 500;
  -webkit-line-clamp: 2;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.sidebarChannel {
  font-size: 12px;
  color: var(--primary-color);
  margin-bottom: 3px;
  font-weight: 500;
}
.sidebarInfo {
  display: flex;
}

/* -----------Search Results Page----------- */
.searchContainer {
  height: 100%;
  width: 1100px;
  padding: 10px;
  margin: 0 auto;
}
.channelBox {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  column-gap: 15px;
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
}
.channelImg {
  display: flex;
  justify-content: center;
  width: 320px;
}
.channelThumb {
  border-radius: 70px;
  height: 136px;
  width: 136px;
}
.videoBox {
  display: flex;
  margin: 15px 0;
  column-gap: 15px;
}
.videoThumb {
  border-radius: 10px;
  height: 100%;
  width: 45vmin;
}
.videoBoxTitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
.videoBoxTime {
  font-size: 13px;
  color: var(--primary-color);
  margin-bottom: 5px;
}
.videoBoxDesc {
  font-size: 12px;
  color: var(--primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/* -----------Footer------------------------ */
.footer {
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  margin-top: 30px;
}
/* -----------Homepage Shimmer-------------- */
.shimmerCard {
  height: 300px;
  width: 360px;
  display: flex;
  flex-direction: column;
}
.shimmerCardImg {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.shimmerCardDesc {
  display: flex;
  flex-direction: column;
}
.shimmerLines {
  height: 10px;
  width: 100%;
  border-radius: 3px;
  margin-top: 8px;
}
.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 400px;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
/* -----------Scroll Bar ------------------- */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  border: 4px solid var(--secondary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* -----------Responsive Bottom Menu------- */
.bottomMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  padding: 5px 0;
  align-items: center;
  width: 100%;
  z-index: 101;
  background: var(--secondary-color);
  justify-content: space-evenly;
}
.bottomMenuItems {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ------------Mobile Search Box--------------- */
.mobileSearch {
  display: none;
}
.mobileSearchInput {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  background-color: var(--secondary-color);
  z-index: 111;
  width: 100%;
  padding: 10px;
}
.mobileSearchBox {
  height: 100%;
  width: 100%;
  border: 1px solid #0000002e;
  border-radius: 25px;
  padding: 5px 15px;
  box-shadow: 0px 0px 2px inset #0000002e;
  border: 0;
  outline: 0;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
}
.backBtn {
  height: 35px;
  width: 35px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 22px;
  padding: 5px;
  margin-right: 10px;
}
.resSearchContainer {
  height: 100vh;
}
/* -----------Responsive Section------------ */
@media (max-width: 479.98px) {
  .header {
    padding: 10px;
    display: flex;
    justify-content: start;
  }
  .mobileSearch {
    display: block;
    width: 10%;
  }
  .menuLogoSection {
    column-gap: 0;
    width: 90%;
  }
  .menuSection {
    display: none;
  }
  .userSection {
    width: 10%;
  }
  .userLogin {
    margin-top: 0;
    border: none;
  }
  .userLogin:hover {
    background-color: var(--secondary-color);
  }
  .userLogin > span {
    display: none;
  }
  .searchSection {
    display: none;
  }
  .side-drawer {
    display: none;
  }
  .bottomMenu {
    display: flex;
  }
  .navItemName {
    font-size: 10px;
  }
  #mainBody {
    margin-left: 0;
  }
  .filtersContainer {
    padding: 0 10px;
  }
  .videoCard {
    width: 100%;
    height: 100%;
  }
  .videoBanner img {
    width: 95vw;
  }
  .videoCardContainer {
    padding: 20px 10px;
  }
  .videoFrame {
    height: 35vh;
    width: 100%;
  }
  .videoPageContainer {
    width: 100%;
    flex-direction: column;
    padding: 0 5px;
  }
  .videoInnerContainer {
    width: 100%;
  }
  .videoDescSection {
    flex-direction: column;
  }
  .videoInnerDesc {
    column-gap: 10px;
  }
  .videoDescBtns {
    overflow-y: auto;
  }
  .videoDescBtns::-webkit-scrollbar {
    display: none;
  }
  .btn {
    height: 30px;
    padding: 0px 12px;
    font-size: 12px;
    line-height: 30px;
  }
  .videoFullDesc {
    font-size: 13px;
  }
  .videoCmntSection {
    display: none;
  }
  .recommendedSection {
    width: 100%;
    padding: 10px 5px;
  }
  .sideBarCards {
    column-gap: 10px;
  }
  .sidebarImg {
    width: 100%;
    height: 100%;
  }
  .sidebarDesc {
    width: 100%;
  }
  .videoCardDuration {
    bottom: 8px;
  }
  .searchContainer {
    width: 100%;
  }
  .videoThumb {
    width: 35vmin;
  }
}
@media (min-width: 480px) and (max-width: 767.98px) {
  .header {
    padding: 10px;
    display: flex;
    justify-content: start;
  }
  .mobileSearch {
    display: block;
    width: 10%;
  }
  .menuLogoSection {
    column-gap: 0;
    width: 100%;
  }
  .menuSection {
    display: none;
  }
  .userSection {
    width: 10%;
  }
  .userLogin {
    margin-top: 0;
    border: none;
  }
  .userLogin:hover {
    background-color: var(--secondary-color);
  }
  .userLogin > span {
    display: none;
  }
  .searchSection {
    display: none;
  }
  .side-drawer {
    display: none;
  }
  .bottomMenu {
    display: flex;
  }
  .navItemName {
    font-size: 10px;
  }
  #mainBody {
    margin-left: 0;
  }
  .filtersContainer {
    padding: 0 10px;
  }
  .videoCard {
    height: 100%;
    width: 95vw;
    display: flex;
  }
  .videoBanner img {
    width: 50vmin;
    height: 100%;
  }
  .videoDesc {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    justify-content: flex-end;
  }
  .videoCardContainer {
    padding: 20px 10px;
  }
  .videoFrame {
    height: 70vmin;
    width: 100%;
  }
  .videoPageContainer {
    width: 100%;
    flex-direction: column;
    padding: 0 5px;
  }
  .videoInnerContainer {
    width: 100%;
  }
  .videoDescSection {
    flex-direction: column;
  }
  .videoInnerDesc {
    column-gap: 10px;
  }
  .videoDescBtns {
    overflow-y: auto;
  }
  .videoDescBtns::-webkit-scrollbar {
    display: none;
  }
  .shimmerCard {
    height: fit-content;
    width: 90%;
    flex-direction: row;
    display: flex;
    gap: 0 10px;
  }
  .shimmerCardImg {
    width: 100vmin;
    height: 30vmin;
  }
  .shimmerCardDesc {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .shimmerLines {
    height: 18px;
    width: 100%;
    border-radius: 3px;
    margin-top: 0;
  }
  .btn {
    height: 30px;
    padding: 0px 12px;
    font-size: 12px;
    line-height: 30px;
  }
  .videoFullDesc {
    font-size: 13px;
  }
  .videoCmntSection {
    display: none;
  }
  .recommendedSection {
    width: 100%;
    padding: 10px 5px;
  }
  .sideBarCards {
    column-gap: 10px;
  }
  .sidebarImg {
    width: 100%;
    height: 100%;
  }
  .sidebarDesc {
    width: 100%;
  }
  .videoCardDuration {
    bottom: 8px;
  }
  .searchContainer {
    width: 100%;
  }
  .videoThumb {
    width: 35vmin;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
  #mainBody {
    margin-left: 0;
  }
}
